
<div *ngIf="movie">
    <h2>{{ movie.name }}</h2>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">{{ movie.name }}</label>
        <input [(ngModel)]="movie.name" class="form-control" id="exampleFormControlInput1" placeholder="Name..">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">{{ movie.genre }}</label>
        <input [(ngModel)]="movie.genre" class="form-control" id="exampleFormControlInput1" placeholder="Genre..">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">{{ movie.studio }}</label>
        <input [(ngModel)]="movie.studio" class="form-control" id="exampleFormControlInput1" placeholder="Studio..">
    </div>
    <button class="btn btn-primary" (click)="updateMovie(movie)" *ngIf="movie.id">Save </button>
    <button class="btn btn-primary" (click)="deleteMovie(movie)" *ngIf="movie.id">Delete </button>
    <button class="btn btn-primary" (click)="createMovie(movie)" *ngIf="!movie.id">Create </button>
</div>>
